<h1>Sign Up</h1>

<div class = "container">
<%= form_with model: @user do |f| %>
    <div class="mb-3">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    </div>
    <div class="mb-3">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
    </div>
    <div class="mb-3">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %><br/>
    </div>
    <div class="mb-3">
        <%= f.text_field :mobile, class: 'form-control', rows: '10', placeholder: 'Mobile Number' %><br/>
    </div>
    <div class="mb-3">
        <%= f.submit 'Sign Up', class: 'btn btn-outline-dark' %>
    </div>
<% end %>
</div>